@{
    ViewBag.Title = "SportsStore: Order Submitted";
    Layout = "~/Views/shared/_BasicLayout.cshtml";
}
<div class="context">
    <h2>Thank you for shopping with us</h2>
    We'll send your games as soon as possible. Have a nice day!
</div>