
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Home</title>
</head>
<body class="body-content">
    <div class="text-center">
        @Html.ActionLink("  ", "Index", "Home", new { platform = "PlayStation" }, new { @class = "btn btn-primary btn-lg ps" })
        @Html.ActionLink("  ", "Index", "Home", new { platform = "Xbox" }, new { @class = "btn btn-primary btn-lg xb" })
        @Html.ActionLink("  ", "Index", "Home", new { platform = "PC" }, new { @class = "btn btn-primary btn-lg pc" })
    </div>
</body>
</html>
